
/*body*/
html{
    scroll-behavior: smooth;
}

body{

        background-color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        overflow-x: hidden;
    
}
/*header & Main*/
a{
    text-decoration: none !important;
}
a:hover{
    text-decoration: none;
    color: #07FB7F;
}
.nav-linkes{
    color: #07FB7F;

    font-size:20px;
    text-decoration: none;
}
.registre{
    background: url("../img/tcomanda.png") no-repeat;
    background-size: cover;
    padding-bottom: 5%;
}

#logo{

    width:65%;

}
.fa{

    border: none;
    color: #07FB7F;
}
#bcolor{
    color: white;
    background-color: #07FB7F;
    border-radius: 13px;
    font-weight: bold;
    padding: 11px;
    padding-right: 20px;
    padding-left: 20px;
}

#bgcust{
    background-color: transparent;
}
#dSeccions{
    font-weight: bolder;
}
#fotologo{
    width: 15%;
}
.cajasp{
    border: 1px solid grey;
    box-shadow: 4px 4px black;
    background-color: white;
}
.imagenCajas{
    border-radius: 100%;
    width: 30%;
}
.cajasdiv{
    background: url("../img/RegistrarBotigaTriangulo2.png") ;
    background-size: cover;
    min-height: 104vh;
    padding-bottom: 20%;
}
#fotosSeccions{
        width: 95%;
        height: 100%;
        border-radius: 100%;
        border: 7px solid #01E4FF;   
}
#fotosSeccions2{
    width: 95%;
    height: 100%;
    border-radius: 100%;
    border: 7px solid #07FB7F;

}

#fotosSeccions3{
    width: 95%;
    height: 100%;
    border-radius: 100%;
    border: 7px solid #FF0910;

}
#seccio{
    font-weight: lighter;
    font-size:1.5em;
}


#fotosSeccions4{
    width: 95%;
    height: 100%;
    border-radius: 100%;
    border: 7px solid #FDB402;

}


.lletrero{
    background-color:rgb(255, 255, 255, 0.7);
    width:100%;
    height:auto;
    box-shadow: 1px 0px 3px black;
    border-radius: 2px;
    margin-top:5%;
    padding:4%;
}
.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    margin-top:-16px;
}
.cardRed{
    background-color: #FF0910;
}
.cardAmarilla{
    background-color: #FDB402;
}
.cardBlue{
    background-color: #01E4FF;
}
.cardGreen{
    background-color: #07FB7F;
}
.tituloCard{
    color: white;
    text-decoration: none;
}
.tituloCard:hover{
    text-decoration: none;
    color: white;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: black;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.titolRegistre{
    text-decoration: none;
    color: white;
    background-color: #07FB7F;
}
.titolRegistre:hover{
    color: white;
}
h1{
    color:black; filter:alpha(opacity=100); opacity:100%; 
    font-size:3.8vw;
}
.cardVerde{
    background-color: #07FB7F;
    border-color: #07FB7F;
}
.adv{
    color: grey;
}

#circulo {
	width: 2rem;
	height: 2rem;
	border-radius: 100%;
	background: white;
    border:1px solid grey;
    padding:0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    margin-right:2%;
}
#circulo > p {
    color: #07FB7F;
    font-size: 1rem;
    top: 7%;
    padding-top: 15px;
    font-weight: bold;
}
.numerosRegistro{
    border: 1px solid grey;
    border-radius: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.header {
    background: url("../img/FondoPrincipalWeb.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 104vh;
}
.bgcontainer{
    background-color: #07FB7F;
    width:100%;
    height:auto;
    padding-bottom:80px;
}

#bot{
    width:40%;
}
#ProdBot{
    font-weight: bolder;
    color:white;
    font-size:2em;
}

#c{
    font-weight: bold;
}
#p{
    font-size:1.5em;
}

.card1{
    background: url("../img/botigues.jpg");background-repeat: no-repeat;background-size: cover;
    width:100%;
    height:500px;
}

.spacer-card{
    height: 250px;
    width: 100%;
}

.card2{
    background: url("../img/clients.jpg");background-repeat: no-repeat;background-size: cover;
    width:100%;
    height:500px;
}

.card3{
    background: url("../img/reparto.jpg");background-repeat: no-repeat;background-size: cover;
    width:100%;
    height:500px;
}

.bgcontainer2{
    background-color: #545554;
    width:100%;
    height:auto;
}



.flecha{

    color: #07FB7F;
    font-size: 66px;
    animation: bounce .5s alternate infinite ease-in;


}

@keyframes bounce {
    from {
        transform: translateY(-10%)
    }

    to {
        transform: translate(0%);
        font-size: 66px;
        color: #2da86b;
    }
}
.SmallScroll{

    background-color: #545554;
    overflow-x: hidden;
    padding-bottom: 5EM;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    padding-bottom: 56%;
    padding-top: 14%;
   
}

.rowc{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 6%;
    width: 90%;

}

.lista{
    text-decoration: none;
    list-style: none;
    margin-left: -10%;
    padding-top: 8%;
}

.card1-cuerpo{
    background-color:rgb(255, 255, 255, 0.9);
    height: 50%;
}
/*footer*/
.t1{
    font-weight: bold;
    text-align: center;
}

.copy{
    font-weight:bold;
    color:white;
}

.ICON{
    color: white;

}
.ICON:hover{
    color:#07FB7F;

}
#logo2{

    width:10em;
    
}

#bcolor1{
    color: white;
    background-color: #07FB7F;
    border-radius: 13px;
    font-weight: bold;
    padding: 11px;
    padding-right: 20px;
    padding-left: 20px;
    width: 95%;
}
#bcolor2{
    color: white;
    background-color: #FF0910;
    border-radius: 13px;
    font-weight: bold;
    padding: 11px;
    padding-right: 20px;
    padding-left: 20px;
    width: 95%;
}
#bcolor3{
    color: white;
    background-color: #FDB402;
    border-radius: 13px;
    font-weight: bold;
    padding: 11px;
    padding-right: 20px;
    padding-left: 20px;
    width: 95%;
}
#bcolor4{
    color: white;
    background-color: #01E4FF;
    border-radius: 13px;
    font-weight: bold;
    padding: 11px;
    padding-right: 20px;
    padding-left: 20px;
    width: 95%;
}


/*Modals*/

#titol1{

    font-weight: bold;


}
#imgModal{
    width:28%;
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid ;
    border-radius: 13px;
    border-color:#07FB7F;
    outline: 0;
}


#registre{
    color:#07FB7F;
}

.boton{
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;

}

/*Media Queries*/

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
        #mq{
            width: 60%;
        }
    
     }

     @media (min-width:320px)  { #mq{
        width: 50%;
    }}
@media (min-width:480px)  { 
    #mq{
        width: 50%;
    }
}
@media (min-width:641px)  { 

    #mq{
        width: 45%;
    }


 }
  
/*Menu Botigues*/
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 120px;
    margin: auto;
    position: relative;
    background-color: #f5f5f5;
  
    z-index: 7;
  }
  .menu li {
    float: left;
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .menu a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    z-index: 9;
  }
  a.active {
    background-color: #e74c3c;
    pointer-events: none;
  }
  li.slider {
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #FF0910;
    z-index: 8;
    transition: left 0.4s, background-color 0.4s;
  }
  .menu li:nth-child(1):hover ~ .slider,
  .menu li:nth-child(1):focus ~ .slider,
  .menu li:nth-child(1):active ~ .slider {
    left: 0;
    background-color: #FF0910;
  }
  .menu li:nth-child(2):hover ~ .slider,
  .menu li:nth-child(2):focus ~ .slider,
  .menu li:nth-child(2):active ~ .slider {
    left: 25%;
    background-color: #FDB402;
  }
  .menu li:nth-child(3):hover ~ .slider,
  .menu li:nth-child(3):focus ~ .slider,
  .menu li:nth-child(3):active ~ .slider {
    left: 50%;
    background-color:#01E4FF ;
  }
  .menu li:nth-child(4):hover ~ .slider,
  .menu li:nth-child(4):focus ~ .slider,
  .menu li:nth-child(4):active ~ .slider {
    left: 75%;
    background-color: #07FB7F;
  }
  
  /*sweet alert estilo */
  .swal2-styled.swal2-confirm {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #07FB7F;
    color: #fff;
    font-size: 1em;
}

#quantitat{
    padding-top: 12%;
}
#descripcio{
    padding-top: 8%;
}

.table{
    border-collapse: unset;
}
.table th,.table td{
    border:none;
   
}
.table td{
    border-bottom:1px solid #07FB7F;
}
#trcust{
    border:none;
}
