
/*body*/
html{
    scroll-behavior: smooth;
}

body{

        background-color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        overflow-x: hidden;
    
}
/*header & Main*/
a{
    text-decoration: none !important;
}
a:hover{
    text-decoration: none;
    color: #07FB7F;
}
.nav-linkes{
    color: #07FB7F;

    font-size:20px;
    text-decoration: none;
}
.registre{
    background: url("../img/tcomanda.png") no-repeat;
    background-size: cover;
    padding-bottom: 5%;
}
.trianguloContacto{
    background: url("../img/TrianguloContacto.png") no-repeat;
    background-size: cover;
    
}
.trianguloModificar{
    background: url("../img/ModificarDadesTriangulo.png") no-repeat;
    background-size: cover;
}
#logo{

    width:65%;

}
.fa{

    border: none;
    color: #07FB7F;
}


@-webkit-keyframes spinner-border {
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes spinner-border {
    to {
      transform: rotate(360deg);
    }
  }
  .spinner-border {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    text-indent: -999em;
    border: 0.25em solid;
    border-color: currentColor transparent currentColor currentColor;
    border-radius: 50%;
    -webkit-animation-name: spinner-border;
            animation-name: spinner-border;
    -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  
  .spinner-border-reverse {
    border-color: transparent currentColor transparent transparent;
  }
  .spinner-border-reverse::after {
    position: absolute;
    top: -0.25em;
    right: -0.25em;
    bottom: -0.25em;
    left: -0.25em;
    display: inline-block;
    content: "";
    border: 0.25em solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
  .text-danger {
    color: #07FB7F!important;
}
#logoM{
    width:100%;
}

#logoM2{
    width:60%;
}
#bcolor10{
    color: white;
    background-color: #07FB7F;
    margin-top: 3%;
    border-radius: 13px;
    font-weight: bold;
    padding: 4px;
    padding-right: 9px;
    padding-left: 10px;
}

.swal2-title {
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: .8em 1em 0;
    color: black;
    font-size: 1.875em;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
}
  
  @-webkit-keyframes spinner-grow {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }
  
  @keyframes spinner-grow {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }
  .spinner-grow {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    text-indent: -999em;
    background-color: currentColor;
    border-radius: 50%;
    -webkit-animation-name: spinner-grow;
            animation-name: spinner-grow;
    -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
.alert-success{
    color:black;
    background-color:white;
    border-color:white;
}
#bcolor{
    color: white;
    background-color: #07FB7F;
    border-radius: 13px;
    font-weight: bold;
    padding: 11px;
    padding-right: 20px;
    padding-left: 20px;
}
.bcolor{
    color: white;
    background-color: #07FB7F;
    border-radius: 13px;
    font-weight: bold;
    padding: 11px;
    padding-right: 20px;
    padding-left: 20px;
}

.cuerpoCarta{
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    width: 100%;
    height: 350px;
    background-color: #fff;
}
.cartaTotal{
    border-radius: 2%;
    width: 100%;
    height: 400px;
}
.headerCarta{
    border-radius: 2%;

    background-color:#07FB7F ;
    width: 100%;
    height: 50px;
}
.tcomanda{
    background: url("../img/RegistrarBotigaTriangulo2.png") no-repeat;
    background-size: cover;
}
#brojo{
    color: white;
    background-color: #FF0910;
    border-radius: 13px;
    font-weight: bold;
    padding: 11px;
    padding-right: 20px;
    padding-left: 20px;
}
#bgcust{
    background-color: transparent;
}
#dSeccions{
    font-weight: bolder;
}
#fotologo{
    width: 15%;
}
.cajasp{
    border: 1px solid grey;
    box-shadow: 4px 4px black;
    background-color: white;
}
.imagenCajas{
    border-radius: 100%;
    width: 30%;
}
.cajasdiv{
    background-size: cover;
    padding-bottom: 5%;
    background: url("../img/RegistrarBotigaTriangulo2.png") no-repeat;
}
#fotosSeccions{
        width: 95%;
        height: 100%;
        border-radius: 100%;
        border: 7px solid #01E4FF;   
}
#fotosSeccions2{
    width: 95%;
    height: 100%;
    border-radius: 100%;
    border: 7px solid #07FB7F;

}

#fotosSeccions3{
    width: 95%;
    height: 100%;
    border-radius: 100%;
    border: 7px solid #FF0910;

}
#seccio{
    font-weight: lighter;
    font-size:1.5em;
}


#fotosSeccions4{
    width: 95%;
    height: 100%;
    border-radius: 100%;
    border: 7px solid #FDB402;

}


.lletrero{
    background-color:rgb(255, 255, 255, 0.7);
    width:100%;
    height:auto;
    box-shadow: 1px 0px 3px black;
    border-radius: 2px;
    margin-top:5%;
    padding:4%;
}
.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    margin-top:-16px;
}
.cardRed{
    background-color: #FF0910;
}
.cardAmarilla{
    background-color: #FDB402;
}
.cardBlue{
    background-color: #01E4FF;
}
.cardGreen{
    background-color: #07FB7F;
}
.verde{
    color: #07FB7F;
}
.tituloCard{
    color: white;
    text-decoration: none;
}
.tituloCard:hover{
    text-decoration: none;
    color: white;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: black;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.cust-form{
    width: 36%;
    margin-left: -1%;
}
.subtitol{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1em;

}
#bcolorC{
    color: white;
    background-color: #07FB7F;
    border-radius: 11px;
    font-weight: bold;
    padding: 7px;
    padding-right: 11px;
    padding-left: 11px;
}


.titolRegistre{
    text-decoration: none;
    color: white;
    background-color: #07FB7F;
}
.titolRegistre:hover{
    color: white;
}
h1{
    color:black; filter:alpha(opacity=100); opacity:100%; 
    font-size:3.8vw;
}
.tramitarComandafondo{
    background: url("../img/TrianguloFondoTramitarComanda.png") no-repeat;
    background-size:cover;

    padding-bottom: 5%;
}
.cardVerde{
    background-color: #07FB7F;
    border-color: #07FB7F;
}
.adv{
    color: grey;
}

#circulo {
	width: 2rem;
	height: 2rem;
	border-radius: 100%;
	background: white;
    border:1px solid grey;
    padding:0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    margin-right:2%;
}
#circulo > p {
    color: #07FB7F;
    font-size: 1rem;
    top: 7%;
    padding-top: 15px;
    font-weight: bold;
}
.numerosRegistro{
    border: 1px solid grey;
    border-radius: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.header {
    background: url("../img/FondoPrincipalWeb.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 104vh;
}
.bgcontainer{
    background-color: #07FB7F;
    width:100%;
    height:auto;
    padding-bottom:80px;
}

#bot{
    width:40%;
}
#ProdBot{
    font-weight: bolder;
    color:white;
    font-size:2em;
}

#c{
    font-weight: bold;
}
#p{
    font-size:1.5em;
}

.card1{
    background: url("../img/botigues.jpg");background-repeat: no-repeat;background-size: cover;
    width:100%;
    height:550px;
}

.spacer-card{
    height: 50%;
    width: 100%;
}

.card2{
    background: url("../img/clients.jpg");background-repeat: no-repeat;background-size: cover;
    width:100%;
    height:550px;
}

.card3{
    background: url("../img/reparto.jpg");background-repeat: no-repeat;background-size: cover;
    width:100%;
    height:550px;
}

.bgcontainer2{
    background-color: #545554;
    width:100%;
    height:auto;
}



.flecha{

    color: #07FB7F;
    font-size: 66px;
    animation: bounce .5s alternate infinite ease-in;


}

@keyframes bounce {
    from {
        transform: translateY(-10%)
    }

    to {
        transform: translate(0%);
        font-size: 66px;
        color: #2da86b;
    }
}
.SmallScroll{

    background-color: #545554;
    overflow-x: hidden;
    padding-bottom: 5EM;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    padding-bottom: 56%;
    padding-top: 14%;
   
}

.rowc{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 6%;
    width: 90%;

}

.lista{
    text-decoration: none;
    list-style: none;
    margin-left: -10%;
    padding-top: 8%;
}

.card1-cuerpo{
    background-color:rgb(255, 255, 255, 0.9);
    height: 50%;
}

.t1{
    font-weight: bold;
    text-align: center;
}

.copy{
    font-weight:bold;
    color:white;
}

.ICON{
    color: white;

}
.ICON:hover{
    color:#07FB7F;

}
#logo2{

    width:10em;
    
}

#bcolor1{
    color: white;
    background-color: #07FB7F;
    border-radius: 13px;
    font-weight: bold;
    padding: 11px;
    padding-right: 20px;
    padding-left: 20px;
    width: 95%;
}
#bcolor2{
    color: white;
    background-color: #FF0910;
    border-radius: 13px;
    font-weight: bold;
    padding: 11px;
    padding-right: 20px;
    padding-left: 20px;
    width: 95%;
}
#bcolor3{
    color: white;
    background-color: #FDB402;
    border-radius: 13px;
    font-weight: bold;
    padding: 11px;
    padding-right: 20px;
    padding-left: 20px;
    width: 95%;
}
#bcolor4{
    color: white;
    background-color: #01E4FF;
    border-radius: 13px;
    font-weight: bold;
    padding: 11px;
    padding-right: 20px;
    padding-left: 20px;
    width: 95%;
}

.titol2{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 5.2em;
}
.NouTitol{
    width:30%;
    margin-top: 10%;
}

/*Modals*/

#titol1{

    font-weight: bold;


}
#imgModal{
    width:28%;
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid ;
    border-radius: 13px;
    border-color:#07FB7F;
    outline: 0;
}


#registre{
    color:#07FB7F;
}

.boton{
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;

}

/*Media Queries*/

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
        #mq{
            width: 60%;
        }
    
     }

     @media (min-width:320px)  { #mq{
        width: 50%;
    }}
@media (min-width:480px)  { 
    #mq{
        width: 50%;
    }
}
@media (min-width:641px)  { 

    #mq{
        width: 45%;
    }


 }
  



  
/*sweet alert estilo */
  .swal2-styled.swal2-confirm {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #07FB7F;
    color: #fff;
    font-size: 1em;
}
/*----*/
#quantitat{
    padding-top: 12%;
}
#descripcio{
    padding-top: 8%;
}
.table{
    border-collapse: unset;
}
.table th,.table td{
    border:none; 
}
.table td{
    border-bottom:1px solid #07FB7F;
}
#trcust{
    border:none;
}
.fondotienda{
    background: url("../img/casaramirez.jpg") no-repeat;
    background-size:cover;
}
.logoBotiga{
    height: 450px;
}
.logoTienda{
    width: 30%;
    margin-top: 17%;
}
.InfoBotiga{
    background-color:rgb(255, 255, 255, 0.7);
    height: 450px;
}
.cercador{
    background-color: #ECECEC;
}
.buscadorAmplada{
    width: 250px;
}
.cartaProd{
    width: 300px;
    height: 450px;
    border-radius: 0.5em;
}
.fotoProd{
    width: 300px;
    height: 300px;
}
.cuerpoProd{
    width: 300px;
    height: 150px;
}